src/main/java/ru/handbook/model/utilites/validator/xsd/GroupSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Groups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Group" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="id" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="GroupContacts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="id" minOccurs="1"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>